@import url(estilos_barra_n.css);
@import url('https://fonts.googleapis.com/css2?family=K2D:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url(darth.css);

*{
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #251C2D;
}

.video_inicial{

  height: 100%;
  width: 100%;
  
  
}



.cerrar{
  position: absolute;
  font-size: 30px;
  background-color: transparent;
  color: white;
  margin-left: 10px;
  margin-top: 10px;
  animation: desaparicion;
  animation-duration: 10s;
  animation-iteration-count:infinite
}
.body{
  display: none;
  opacity: 0;
}

.body_a{
  animation: aparicion;
  animation-duration: 0.3s;
  opacity: 1;
  display: unset;
  
  
}

.video_inicial video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  animation: desaparicion;
  animation-duration: 28s;

}


@keyframes desaparicion{
0%{
  opacity: 1;
}

20%{
  opacity: 0.90;
}

30%{
  opacity: 0.80;

}

40%{
  opacity: 0.70;
}

50%{
  opacity: 0.50;
}

60%{
  opacity: 0.40;
}
70%{
  opacity: 0.30;
}

80%{
  opacity: 0.20;
}

90%{
  opacity: 0.10;
}
100%{opacity: 0;

}

}

.video_desaparece{
  display: none;
}

.video_desaparece video source{
  display: none;
}


.fondo{
  width: 100%;
  
 z-index: 1;
  position: absolute;
 
}

.fondo video {
width: 100%;
height: 100%;

object-fit: cover;
}
::-webkit-scrollbar{
  background-color: transparent;
  width: 10px;
}



::-webkit-scrollbar-thumb{
  background-color: #3E2E4C;
  border-radius: 10px;
  width: 2px;
}

.transparencia{
  width: 100%;
  height: 122%;
  background-color: #251C2D;
  position: absolute;
  z-index: 2;
  opacity: 0.75;
  float: inherit;
}

.contenido{
  position: absolute;
  z-index: 3;
  color: aliceblue;
  width: 70%;
  left: 15%;
  right: 15%;
  border: solid whitesmoke;
  padding-top: 10px;
}



@keyframes aparicion{
  0%{
    opacity: 0;
  }
  10%{
    opacity: 10;
  }
  20%{
    opacity: 0.20;
  }
  
  30%{
    opacity: 0.30;
  
  }
  
  40%{
    opacity: 0.40;
  }
  
  50%{
    opacity: 0.50;
  }
  
  60%{
    opacity: 0.60;
  }
  70%{
    opacity: 0.70;
  }
  
  80%{
    opacity: 0.80;
  }
  
  90%{
    opacity: 0.90;
  }
  100%{opacity: 1;
  
  }
  
  }

 
  .contenido p{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 150%;
  }

  .contenido h1 {
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
  }

  .contenido h2{
    font-family: 'Fjalla One', sans-serif;
  }

  .contenedor_img{
     width: 100%;
     height: 200px;
     border:solid whitesmoke;
     margin:0;
     position: absolute;
  }

  .contenedor_img img {
    width: 100%;
    height: 100%;
     object-fit: cover;
  }

  .contenido_m .titulo_mercurio{
    margin-top: 10px;
    font-family: 'Lobster', cursive;
    font-size: 100px;
    margin-bottom: 50px;
    text-align: center;
  }

  .contenido_m{
    position: absolute;
    z-index: 3;
    color: aliceblue;
    width: 70%;
    left: 15%;
    right: 15%;
    border: solid whitesmoke;
    padding-top: 10px;
  }

  .contenido_m p{
    padding-top: 20px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 150%;
  }
.contenido_m h2{
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
}

.contenido_m ul li{
  font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 150%;
    list-style: none;
}
  .video_mercurio{
    padding-top: 10px;
    width: 90%;
    margin-left: 50px;
    border-radius: 20px;
  }